
@media screen and (max-width: 900px)  {
    .evenement{
        display: none;
    }
}

.evenement  .menu{
    display : flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}
.evenement  .menu-item{
    padding: 10px;
    flex : 0 1 200px;
}
.evenement  .menu-item a{
    text-decoration: none;
}

.evenement__stage {
    background-color: #475659;
}

.evenement__projet {
    background-color:#C28B7C;

}
.evenement__portes {
    background-color: #84584c;
}
   
