$color__background-body: whitesmoke;
$color__background-sidebar:rgb(86, 86, 86);
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #ffffff;
$color__background-button-hover: #d7694b;
  
$color__background-input: inherit;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-body: #202020;
$color__text-body-reverse: #ffffff;
$color__text-screen: #79bbc9;
$color__text-input: #d6d6d6;
$color__text-input-focus: #ffffff;
$color__text-input-placeholder: #7b7b7b;
$color__link: #202020;
$color__link-visited: #202020;
$color__link-reverse: #ffffff;
$color__link-visited-reverse: #ffffff;
$color__link-hover: rgb(232, 126, 85);
$color__text-button: rgb(232, 126, 85);
$color__text-button-hover: #ffffff;
$color__text-main: #404040;

$color__border-button: #ffffff;
$color__border-button-hover: rgb(232, 126, 85);
$color__border-button-focus: rgb(232, 126, 85);
$color__border-input: #ffffff;
$color__border-input-focus: rgb(232, 126, 85);
$color__border-abbr: #666;

