$color__white: #ffffff;
$color__black: #202020;
$color__green:#475659;
$color__pink: #C28B7C;

$color__background-body: #fff;
$color__background-body-reverse: #202020;
$color__background-sidebar: #404040;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button:#C28B7C;
$color__background-button-hover: #fc8d6f;
$color__background-input: inherit;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-body: #202020;
$color__text-body-reverse: #ffffff;
$color__text-screen: #21759b;
$color__text-input: #d6d6d6;
$color__text-input-focus: #ffffff;
$color__text-input-placeholder: #7b7b7b;
$color__link: #202020;
$color__link-visited: #202020;
$color__link-reverse: #ffffff;
$color__link-visited-reverse: #ffffff;
$color__link-hover: #fc8d6f;
$color__text-button:#fc8d6f;
$color__text-button-hover: #ffffff;
$color__text-main: #404040;

$color__border-button: #ffffff;
$color__border-button-hover: #fc8d6f;
$color__border-button-focus: #fc8d6f;
$color__border-input: #ffffff;
$color__border-input-focus: #fc8d6f;
$color__border-abbr: #666;
