$color__border-img: transparent;
$color__border-img_hover:  #C28B7C;
$color__border-img_active: #63767A;

$color__background-carrousel: #202020;
$color__text-carrousel: #ffffff;
$color__background-nav: inherit;
$color__border-nav: #63767A;

$color__background-button: #ffffff;
$color__text-button_hover: #ffffff;
$color__background-button_active: transparent;
$color__text-button-x: #C28B7C;
$color__background-button-x_hover: #C28B7C;
$color__text-button-nav: #63767A;
$color__background-button-nav_hover: #63767A;

$color__background-radio: #ffffff;
$color__background-radio_hover: #C28B7C;
$color__background-radio_checked: #63767A;